body{
    height: 100vh;
}
a{
    color: white;
    text-underline: none;
    text-decoration: none;
}
.container-index{
    background-color: #F7F9FD;
    min-height: 50%;
    padding: 25px;
}
.btnDrop{
    background-color: #4C59AB;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: none;
}
.btn{
    background-color: #4C59AB;
    color: white;
}
.btn a{
    color: white;
    text-underline: none;
    text-decoration: none;
}
.btn:hover{
    border-color: #4C59AB;
}
.btn:hover a{
    color: #4C59AB;
}
.img-box img, .detail-box{
    width: 100%;
    mix-blend-mode: darken;
}
.img-box, .detail-box{
    padding: 5px;
}
.img-box-loc img{
    width: 100%;
}
footer{
    background-color: #2D2E5C;
    color: #fff;
    padding: 30px;
}
iframe{
    width: 100%;
    margin: auto;
}
.card-offre{
    max-width: 330px;
    min-width: 250px;
    border-left: 3px solid #2D2E5C;
}
.card-l{
    border: 1px solid #2D2E5C;
    border-radius: 3px;
    width: fit-content;
    padding: 0px 3px;
    margin: 2px;
}
.title-page{
    font-size: 22px;
    letter-spacing: 1px;
    margin: 10px 0px 20px;
}
.title-page::after{
    content: "";
    width: 80%;
    height: 3px;
    background-color: #484986;
    display: block;
    margin: auto;
}
.card-entrp{
    width: 300px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    border-left: 1px solid #2D2E5C;
    border-right: 1px solid #2D2E5C;
    border-bottom: 1px solid #2D2E5C;
    border-radius: 10px;
}
.card-entrp .logoEntrpDiv{
    /*background-color:#F4F6FC;*/
    padding: 5px;
    width: 80%;
    height: 60px;
    border-radius: 5px;
}
.card-entrp .logoEntrpDiv img{
    height: 100%;
    margin: auto;
    mix-blend-mode: darken;
}
.testimonial-item{
    max-width: 300px;
    padding: 20px;
    background: #e6e2dc;
}

.card-partenariat{
    min-width: 300px;
    max-width: 310px;
    background: #f1f1f1;
    border: 3px solid #4C59AB;
    border-radius: 10px;
    color: #4C59AB;
    margin: 10px;
}

.logoPartenariat{
    border: 2px solid #4C59AB;
    width: fit-content;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px auto;
}

.logoPartenariat img{
    width: 90px;
    height: 90px;
}
.nom-partenariat{
    border-top: 3px solid #4C59AB;
    border-bottom: 3px solid #4C59AB;
    padding: 15px;
    letter-spacing: 1.5px;
}
.partenariatInfo{
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 10px;
}
.card-chiffre{
    background-color: #f1f1f1;
    padding: 15px;
    border: 2px solid #4C59AB;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
}
.chiffre{
    font-size: 24px;
    color: #4C59AB;
    font-weight: bolder;
}

a.navbar-brand img{
    mix-blend-mode: darken;
}