{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-index d-flex align-items-center">
        <div class="d-flex justify-content-between align-items-center m-auto w-75 h-100 row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>ASSOCIATION NAME</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at placerat mi. Donec sollicitudin consequat lacus,
                        nec dictum arcu rhoncus a.
                        Maecenas aliquam, massa et maximus tincidunt, massa ante rhoncus dui, et facilisis dolor ex at nisl.
                        Nulla ligula tortor, bibendum quis sagittis id, sollicitudin eget lectus. Aliquam eu molestie erat. Cras ac orci nisi
                    </p>
                    <div class="btn-box">
                        <button class="btn"><a href="/" target="_blank">Devenir membre</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="{{ asset('images/illAMIGO.svg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
