<footer>
    <div class="d-flex justify-content-between align-items-center align-content-center row pb-3">
        <div class="col-md-6">
            <h4>Contacter nous</h4>
            <div class="px-3 mb-2 mb-lg-0" >
                <span class="d-flex align-items-center">
                    <i class="bi bi-envelope-at-fill me-3 fs-4"></i>
                    <span>adresseMail-association@gmail.com</span>
                </span>
            </div>
            <div class="px-3 mb-2 mb-lg-0">
                <span class="d-flex align-items-center">
                    <i class="bi bi-telephone-fill me-3 fs-4"></i>
                    <span>+ 33 XX XX XX XX</span>
                </span>
            </div>
            <div class="px-3 mb-2 mb-lg-0">
                <span class="d-flex align-items-center">
                    <i class="bi bi-instagram me-3 fs-4"></i>
                    <a href="/" target="_blank">Page Instagram</a>
                </span>
            </div>
            <div class="px-3 mb-2 mb-lg-0">
                <span class="d-flex align-items-center">
                    <i class="bi bi-linkedin me-3 fs-4"></i>
                    <a href="/" target="_blank">Page LinkedIn</a>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-box-loc">
                <img src="{{ asset('images/localisation.webp') }}" height="200" />
            </div>
        </div>
    </div>
    <div class="text-center">© 2024 Association · Tous droits réservés.</div>
</footer>