<nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" width="75" height="75" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('index') }}">Accueil</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('presentation') }}">Présentation</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('app_offres_index') }}">Offres</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('app_evenements_index') }}">Évènements</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('app_partenaire_index') }}">Entreprises</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('app_membres_index') }}">Membres du bureau</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{{ path('app_partenariats_index') }}">Partenariats</a>
                    </li>
                </ul>
                {% if app.user %}
                    <div class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <button class="btn px-3 mb-2 mb-lg-0" >
                            <span class="d-flex align-items-center">
                                <a class="font letter-sp" href="{{ path('admin') }}">Dashboard Admin</a>
                            </span>
                        </button>
                    </div>
                {% else %}
                    <div class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <button class="btn px-3 mb-2 mb-lg-0" >
                            <span class="d-flex align-items-center">
                                <a class="font letter-sp" href="{{ path('app_login') }}">Se connecter</a>
                            </span>
                        </button>
                    </div>
                {% endif %}
        </div>
    </div>
</nav>