{% extends 'base.html.twig' %}

{% block title %}Page login{% endblock %}

{% block body %}
<div class="container-index d-flex flex-column align-content-center justify-content-center align-items-center">
    <form method="post" class="w-75">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Bienvenue</h1>
            <label class="mt-3 mb-1" for="inputUsername">Login</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-50" autocomplete="username" required autofocus>
            <label class="mt-3 mb-1" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control w-50" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn mt-3" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
