{% extends 'base.html.twig' %}

{% block title %} Evènements index{% endblock %}

{% block body %}
    <div class="container-index d-flex flex-column align-items-center">
        <h3 class="title-page">Evènements </h3>
        <div class="d-flex align-items-center flex-wrap">
            {% for evenement in evenements %}
                <div class="d-flex card overflow-hidden pb-3 m-2" style="width: 250px;">
                    <div><img src="{{ asset('uploads/images/flyers/' ~ evenement.flyer) }}" alt="avatar" style="width: 250px; height:250px;"></div>
                    <div>
                        <h3 class="text-center">{{ evenement.nom }}</h3>
                        <div class="px-3 mb-2 mb-lg-0">
                            <span class="d-flex align-items-center">
                                <i class="bi bi-calendar2 me-3 fs-5"></i>
                                <span>{{ evenement.date | date('d-m-Y')}}</span>
                            </span>
                        </div>
                        <div class="px-3 mb-2 mb-lg-0">
                            <span class="d-flex align-items-center">
                                <i class="bi bi-pin-map me-3 fs-5"></i>
                                <span class="text-wrap">{{ evenement.lieu }}</span>
                            </span>
                        </div>
                        <div class="px-3 mb-2 mb-lg-0">
                            <span class="d-flex align-items-center">
                                <i class="bi bi-tag me-3 fs-5"></i>
                                <span>{{ evenement.typeEvenement }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>Il n' y a pas d'évènement pour le moment.</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
