{% extends 'base.html.twig' %}

{% block title %} Membres index{% endblock %}

{% block body %}
    <div class="container-index d-flex flex-column align-items-center">
        <h3 class="title-page">Les membres de bureau</h3>
        <div class="d-flex align-items-center flex-wrap">
            {% for membre in membres %}
                <div class="testimonial-item rounded m-3 position-relative">
                    <p class="fs-5">
                        <i class="position-absolute bi bi-quote fa-4x text-primary mt-n4 me-3 fs-2" style="top:-20px; left: 5px;"></i>
                        {{ membre.texteIntro | raw}}</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ asset('uploads/images/photoProfil/' ~ membre.photoProfil) }}" alt="avatar"  style="width: 65px; height: 65px;">
                        <div class="ps-4">
                            <h5 class="mb-1">{{ membre.nom }} {{ membre.prenom }}</h5>
                            <span>{{ membre.poste }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                    <div>no records found</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
