{% extends 'base.html.twig' %}

{% block title %} Offres index{% endblock %}

{% block body %}
    <div class="container-index d-flex flex-column align-items-center">
        <div class="title-page">Les offres disponibles</div>
        <div class="row w-100">
            <div class="col-2">
                <div class="dropdown mt-2">
                    <button class="btnDrop rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Entreprises
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_offres_index') }}">Tous les offres</a></li>
                        {% for entreprise in entreprises %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_offre_partenaire', {'id':  entreprise.id}) }}">{{ entreprise.nomPartenaire }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown mt-2">
                    <button class="btnDrop rounded dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Type d'offre
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_offres_index') }}">Tous les offres</a></li>
                        {% for type in typesOffre %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_offre_type', {'typeOffre':  type.id}) }}">{{ type.nom }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="d-flex flex-wrap">
                    {% for offre in offres %}
                        <div class="card p-3 m-2 card-offre">
                            <h3>{{ offre.titre }}</h3>
                            <div>{{ offre.description | raw}}</div>
                            <div class="d-flex align-items-center my-1">
                                <i class="bi bi-tag me-1 fs-5"></i>
                                <span>{{ offre.typeOffre }}</span>
                            </div>
                            <div class="d-flex align-items-center my-1">
                                <i class="bi bi-building me-1 fs-5"></i>
                                <span>{{ offre.partenaire }}</span>
                            </div>
                            <div class="d-flex align-items-center my-1">
                                <i class="bi bi-calendar2 me-1 fs-6" style="padding-left: 3px;"></i>
                                <span>{{ offre.dateDebut | date('d-m-Y') }} - {{ offre.duree }} mois</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                {% for langage in offre.langages %}
                                    <div class="card-l">{{ langage }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div>Il n' y a pas d'offres pour le moment.</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
