{% extends 'base.html.twig' %}

{% block title %}Les entreprises{% endblock %}

{% block body %}
    <div class="container-index d-flex flex-column align-items-center ">
        <div class="title-page">Les entreprises</div>
        <div class="d-flex align-items-center flex-wrap mt-3">
        {% for partenaire in partenaires %}
                <div class="position-relative card-entrp">
                    <div class="position-absolute d-flex top-0 start-50 translate-middle logoEntrpDiv">
                        <img src="{{ asset('uploads/images/logosPartenaires/' ~ partenaire.logo) }}" style="height: 80px;">
                    </div>
                    <div class="p-6 mt-5">
                        <h5 class="mb-2">
                            {{ partenaire.nomPartenaire }}
                        </h5>
                        <div class="d-flex align-items-center my-1">
                            <i class="bi bi-envelope-at me-1 fs-5"></i>
                            <span>{{ partenaire.mail }}</span>
                        </div>
                        <div class="d-flex align-items-center my-1">
                            <i class="bi bi-telephone me-1 fs-5"></i>
                            <span>{{ partenaire.tel }}</span>
                        </div>
                        <div class="d-flex my-1">
                            <i class="bi bi-map me-1 fs-5"></i>
                            <span>{{ partenaire.adresse }}</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>no records found</div>
            {% endfor %}
    </div>
    </div>
{% endblock %}
