{% extends 'base.html.twig' %}

{% block title %}Partenariats{% endblock %}

{% block body %}
    <div class="container-index d-flex flex-column align-items-center ">
        <div class="title-page">Partenariats</div>
        <div class="d-flex align-items-center flex-wrap mt-3">
            {% for partenaire in partenaires %}
                <div class=" card-partenariat">
                    <div class="logoPartenariat">
                        <img src="{{ asset('uploads/images/logosPartenaires/' ~ partenaire.logo) }}">
                    </div>
                    <div class="p-6 mt-4">
                        <h3 class="mb-2 text-center nom-partenariat">
                            {{ partenaire.nom }}
                        </h3>
                        <h5 class="partenariatInfo text-center">{{ partenaire.adresse }}</h5>
                        <h5 class="partenariatInfo text-center">{{ partenaire.description | raw }}</h5>
                    </div>
                </div>
            {% else %}
                <div>no records found</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
