{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="container-index d-flex align-items-center flex-column">
        <div class="d-flex justify-content-between align-items-center m-auto w-75 h-100 row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>Présentation </h1>
                    <p>
                        Quisque tempor tempor nunc, cursus semper ex condimentum in. Praesent iaculis, libero sit amet fermentum pharetra,
                        ex ex euismod diam, vitae pulvinar ante magna vitae felis. Donec id elit viverra turpis ultricies aliquet. Nulla ac tincidunt ipsum,
                        eu dapibus mauris. Aliquam condimentum lacus semper ligula egestas condimentum.
                        Cras elementum cursus magna sit amet maximus.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box w-75">
                    <img src="{{ asset('images/logo.png') }}" alt="">
                </div>
            </div>
        </div>
        <div class="w-75 mt-3">
            <h3>Lorem ipsum dolor sit amet</h3>
            <div class="d-flex align-items-center flex-wrap mt-3">
                <div class="card-chiffre text-center">
                    <span class="chiffre">15%</span>
                    <p>Praesent eu odio id nisi</p>
                </div>
                <div class="card-chiffre text-center">
                    <span class="chiffre">25%</span>
                    <p>Praesent eu odio id nisi eleifend ultrices</p>
                </div>
                <div class="card-chiffre text-center">
                    <span class="chiffre">15%</span>
                    <p>Praesent eu odio id nisi eleifend ultrices</p>
                </div>
                <div class="card-chiffre text-center">
                    <span class="chiffre">15%</span>
                    <p>Praesent eu odio id nisi eleifend</p>
                </div>
                <div class="card-chiffre text-center">
                    <span class="chiffre">10%</span>
                    <p>Praesent eu odio id nisi</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center m-auto w-75 h-100 row">
            <div class="col-md-6">
                <div class="img-box w-75">
                    <img src="{{ asset('images/logo.png') }}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>Infos </h1>
                    <p>
                        Quisque tempor tempor nunc, cursus semper ex condimentum in. Praesent iaculis, libero sit amet fermentum pharetra,
                        ex ex euismod diam, vitae pulvinar ante magna vitae felis. Donec id elit viverra turpis ultricies aliquet. Nulla ac tincidunt ipsum,
                        eu dapibus mauris. Aliquam condimentum lacus semper ligula egestas condimentum.
                        Cras elementum cursus magna sit amet maximus.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
